body{
  background-color: #000000;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

section {
  background-image: url('../img/wallp.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 115px;
  padding-bottom: 115px;
}

form {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 458px;
  height: 532px;
  background: #000000;
  box-shadow: 0px 4px 17px 17px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  padding-top: 67px;
  padding-bottom: 54px;
}

.text {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 60px;
  letter-spacing: 1.65px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

.reg-input{
  min-width: 273px;
  min-height: 40px;
  border-radius: 7px;
  margin-bottom: 9px;
  padding: 0 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #403A4B;
}
.reg-input:last-child {
  margin-bottom: 0px;
}

.reg-input::placeholder {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  color: rgba(64, 58, 75, 0.6);
  transition: 0.2s;
}
.reg-input:focus{
  outline: 0;
}
.reg-input:focus::placeholder{
  font-size: 9px;
  transform: translateY(-12px);
  transition: all 0.2s; 
}

.button {
  margin-top: 21px;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FF0000;
  border-radius: 7px;
  border-color: #FF0000;
  cursor: pointer;
}

.buttons {
  display: inline-block;
}

.pas {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.aunt {
  height: 362px;
}
.aunt form{
  opacity: 0;
}
.dec{
  color:#FF0000;
}
.dec:active{
  color:#FFFFFF;
}