<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/DnD-ico.ico')}}">
    <title>Бестіарій</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style-reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/header-footer-style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style-scrollbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style-bestiary.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/show-move.css')}}">

</head>

<body>

    <div id="progressbar"></div>

    <header>

        <div class="header-frame">
            <div class="header-logo"><a href="/"><img src="{{url_for('static', filename='img/logo.png')}}"></a></div>
            <div class="header-nav">
                <a href="{{ url_for('knowledge_rules') }}"><p class="header-nav-element">База знань</p></a>

                <a href="/dice.html"><p class="header-nav-element">Дайси</p></a>



                {% if current_user.is_authenticated %}
                <a href="/campaigns"><p class="header-nav-element">Кампанії</p></a>
                <a href="/sessions"><p class="header-nav-element">Сесії</p></a>
                <a href="/charlist.html"><p class="header-nav-element">Персонажі</p></a>
                <a href="/logout"><p class="header-nav-element">Вихід</p></a>


                {% else %}
                    <a href="/auth.html"><p class="header-nav-element">Вхід</p></a>
                    <a href="/registration.html"><p class="header-nav-element">Реєстрація</p></a>
                {% endif %}
                
            </div>
            <input type="checkbox" id="burger-toggle">
            <label for="burger-toggle"  class="burger-container">
                <div class="burger-line"></div>
                <div class="burger-line"></div>
                <div class="burger-line"></div>
            </label>
            <nav class="nav-menu">
                <ul>
                  <li><a href="{{ url_for('knowledge_rules') }}">База знань</a></li>
                  <li><a href="/dice.html">Дайси</a></li>
                  {% if current_user.is_authenticated %}
                    <li><a href="/charlist.html">Персонажі</a></li>
                    <li><a href="/campaigns">Кампанії</a></li>
                    <li><a href="/sessions">Сесії</a></li>
                    <li><a href="/logout">Вихід</a></li>
                  {% else %}
                    <li><a href="/auth.html">Вхід</a></li>
                    <li><a href="/registration.html">Реєстрація</a></li>
                  {% endif %}
                
                </ul>
            </nav>
        </div>

    </header>

    <main>
        <div class="wrapper">
            <div class="bestiary-flex">
                <div class="bestiary-list">
                    <div class="bestiary-search bestiary-element">
                      <img src="{{url_for('static', filename='img/search-img.png')}}">
                      <input type="text" id="search" placeholder="Пошук..." class="search-input" autocomplete="off">
                    </div>
                    {% for monster_name, monster_api in monsters.items()%}
                        <a href="/bestiary{{monster_api[0]}}"><div class="bestiary-element pointer monster"><p class="name">{{monster_name}}</p></div></a>
                    {% endfor %}
                    </div>
                    
                <div class="bestiary-display">
                    <div class="bestiary-display-flex">
                        <div class="bestiary-display-flex-info">
                            <div class="bestiary-display-name">{{dict_monster_prop['name']}}</div>
                            <div class="bestiary-display-type bestiary-display-format">Тип: {{dict_monster_prop['type']}}</div>
                            <div class="bestiary-display-armor bestiary-display-format">Клас обладунків: {{dict_monster_prop['armor_class']}}</div>
                            <div class="bestiary-display-speed bestiary-display-format">Швидкість: наземна({{dict_monster_prop['speed_walk']}}) вплав({{dict_monster_prop['speed_swim']}})</div>
                            <div class="bestiary-display-stats">
                                <div class="bestiary-display-stats-element">
                                    <div class="bestiary-display-stats-element-name bestiary-display-format">Сила</div>
                                    <div class="bestiary-display-stats-element-line"></div>
                                    <div class="bestiary-display-stats-element-stat bestiary-display-format">{{dict_monster_prop['strength']}}</div>
                                </div>
                                <div class="bestiary-display-stats-element">
                                    <div class="bestiary-display-stats-element-name bestiary-display-format">Спритність
                                    </div>
                                    <div class="bestiary-display-stats-element-line"></div>
                                    <div class="bestiary-display-stats-element-stat bestiary-display-format">{{dict_monster_prop['dexterity']}}</div>
                                </div>
                                <div class="bestiary-display-stats-element">
                                    <div class="bestiary-display-stats-element-name bestiary-display-format">Статура
                                    </div>
                                    <div class="bestiary-display-stats-element-line"></div>
                                    <div class="bestiary-display-stats-element-stat bestiary-display-format">{{dict_monster_prop['constitution']}}</div>
                                </div>
                            </div>
                            <div class="bestiary-display-stats">
                                <div class="bestiary-display-stats-element">
                                    <div class="bestiary-display-stats-element-name bestiary-display-format">Інтелект
                                    </div>
                                    <div class="bestiary-display-stats-element-line"></div>
                                    <div class="bestiary-display-stats-element-stat bestiary-display-format">{{dict_monster_prop['intelligence']}}</div>
                                </div>
                                <div class="bestiary-display-stats-element">
                                    <div class="bestiary-display-stats-element-name bestiary-display-format">Мудрість
                                    </div>
                                    <div class="bestiary-display-stats-element-line"></div>
                                    <div class="bestiary-display-stats-element-stat bestiary-display-format">{{dict_monster_prop['wisdom']}}</div>
                                </div>
                                <div class="bestiary-display-stats-element">
                                    <div class="bestiary-display-stats-element-name bestiary-display-format">Харизма
                                    </div>
                                    <div class="bestiary-display-stats-element-line"></div>
                                    <div class="bestiary-display-stats-element-stat bestiary-display-format">{{dict_monster_prop['charisma']}}</div>
                                </div>
                            </div>
                            <div class="bestiary-display-vulner bestiary-display-format">Вразливості: {%for i in dict_monster_prop['damage_vulnerabilities']%} '{{i}}'{%endfor%}</div>
                            <div class="bestiary-display-resist bestiary-display-format">Cупротив: {%for i in dict_monster_prop['damage_resistances']%} '{{i}}'{%endfor%}</div>
                            <div class="bestiary-display-immune bestiary-display-format">Імунітет: {%for i in dict_monster_prop['damage_immunities']%} '{{i}}'{%endfor%}</div>
                            <div class="bestiary-display-rating bestiary-display-format">Рейтинг небезпеки: {{dict_monster_prop['challenge_rating']}}</div>
                            <div class="bestiary-display-health bestiary-display-format">Здоров'я: {{dict_monster_prop['hit_points']}}</div>
                        </div>
                        
                        <div class="bestiary-display-flex-container">
                        {%if dict_monster_prop['image']%}
                        <img src="https://www.dnd5eapi.co{{ dict_monster_prop['image'] }}" 
                        data-default-src="{{ url_for('static', filename='img/question-mark.png') }}"
                        onerror="this.src=this.getAttribute('data-default-src')"
                        alt="Monster Image">
                        {%endif%}
                        </div>
                        
                    </div>
                    <div class="display-line"></div>

                    <div class="some-padding bestiary-display-abilities">Особливі здібності:</div>
                    <div class="some-padding bestiary-display-ability-name bestiary-display-format">Назва: {{dict_monster_prop["special_abilities_name"]}}</div>
                    <div class="some-padding bestiary-display-ability-description bestiary-display-format">Опис: {{dict_monster_prop["special_abilities_desc"]}}</div>

                    <div class="display-line"></div>

                    <div class="some-padding bestiary-display-abilities">Особливі дії:</div>
                    <div class="some-padding bestiary-display-ability-name bestiary-display-format">Назва: {{dict_monster_prop["action_name"]}}</div>
                    <div class="some-padding bestiary-display-ability-description bestiary-display-format">Опис: {{dict_monster_prop["action_desc"]}}</div>
                    <div class="some-padding bestiary-display-ability-name bestiary-display-format">Бонус атаки: {{dict_monster_prop["attack_bonus"]}}</div>
                    <div class="some-padding bestiary-display-ability-name bestiary-display-format">Тип пошкоджень: {{dict_monster_prop["damage_type"]}}</div>

                </div>
    </main>
    {% include 'footer.html' %}
    <script src="{{url_for('static', filename='js/script-scrollbar.js')}}"></script>
    <script src="{{url_for('static', filename='js/script-search.js')}}"></script>
    <script src="{{url_for('static', filename='js/script-header.js')}}"></script>
    <!-- <script src="{{url_for('static', filename='js/replace-img.js')}}"></script> -->
</body>

</html>